/* Add your custom styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  
  }
  
  .universidad {
    margin: 0; /* Evita el margen predeterminado en el encabezado h1 */
  }
  
  .nombre_bienvenido {
    margin: 0; /* Evita el margen predeterminado en el encabezado h1 */
    margin-left: auto;
  }
  
  .row-login-banner {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main {
    flex-grow: 1;
    padding: 20px;
    align-self: flex-start; /* Cambio aquí para alinear al inicio */
  }
  
  #login-form {
    width: 300px;
    margin: 0 auto;
  }
  
  .alinear_centro {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
  }
  
  form input[type="email"],
  form input[type="password"],
  form select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #email {
    border-radius: 5px;
  }
  
  #domain {
    border-radius: 5px;
  }
  
  #password {
    border-radius: 5px;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-input {
    display: none;
  }
  
  .or-text {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .browse-label {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-menu li a:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
  footer .footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  .footer-logo {
    height: 30px;
    margin-right: 10px;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  main {
      flex: 3;
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ddd;
      text-align: center; 
  }
  